// .new {
//   // @include make-col(10);
//   background-color: blue;

//   @include upTo(xs) {
//     background-color:red;
//   }
// }

.container {
  @include make-container();

  &.containerBig {
    max-width: 886px !important;
  }

  .row {
    @include make-row();
    @include break(xs) {
      padding: 0 $PADDING_MOBILE;
    }
  }
}

// home bajada
.home__downText {
  background-color: #f6f6f6;
  padding: 38px 0;

  @include break(xs) {
    padding: 24px 0 47px 0;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include break(xs) {
      justify-content: center;
    }
  }

  h3 {
    font-size: 22px;
    line-height: 1.54;
    letter-spacing: -0.52px;
    color: rgba(0, 0, 0, 0.85);

    @include break(xs) {
      line-height: 1.35;
      text-align: center;
    }
  }

  &__footer {
    display: flex;
    align-items: center;

    @include break(xs) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__count {
    display: flex;
    align-items: center;

    i {
      margin-right: 14px;
    }

    p {
      font-size: 18px;
      line-height: 1.85;
      letter-spacing: -0.43px;
      color: rgba(0, 0, 0, 0.85);

      b {font-weight: 900;}
    }
  }

  &__seguroLogo {
    position: relative;

    @include break(xs) {
      order: -1;
      margin: 10px 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.035);
    }

    img {
      max-width: 212px;
    }
  }
}