.popover {
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.9px #ffffff;
  background-color: $COLOR_BUTTON_LINK;
  border-color: $COLOR_BUTTON_LINK;
  top: -6px;

  &-header {}

  .arrow {
    &:after {
      border-bottom-color: $COLOR_BUTTON_LINK;
    }
  }
  &-body {
    font-size: 12.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    color: #ffffff;
  }
}
