$BLACK : 'Open Sans', sans-serif;
$BOLD : 'Open Sans', sans-serif;
$REGULAR : 'Open Sans', sans-serif;
$BOOK : 'Open Sans', sans-serif;

$COLOR_HEADER: #676a6c;
$COLOR_CELESTE: #21a8d8;
$COLOR_AZUL: #2d84cc;
$COLOR_MENU_HAMBURGER: #0f89ce;
$COLOR_BUTTON_LINK: #0272bc;



$PADDING_MOBILE: 23px;

$ANIMATION_EASING: cubic-bezier(0.22, 0.61, 0.36, 1);
$ANIMATION_TIMING: 250ms;

// BOOTSTRAP CUSTOMS 
$primary: $COLOR_AZUL !default;
$secondary: $COLOR_CELESTE !default;

// MODAL
$modal-inner-padding: 0 !default;
$modal-header-padding-y:            0 !default;
$modal-header-padding-x:            0 !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default;