$BLACK : 'Avenir LT Std Black';
$BOLD : 'Avenir Next LT Pro Bold';
$REGULAR : 'Avenir';
$BOOK : 'Avenir LT Std Book';

$COLOR_HEADER: #676a6c;
$COLOR_AZUL: #2d84cc;
$COLOR_CELESTE: #21a8d8;

$primary: $COLOR_AZUL !default;
$secondary: $COLOR_CELESTE !default;
