header {
  position: relative;

  @include break(xs) {
    background-color: #fff;
    border-bottom: 1px solid #dddddd;

    &:after{
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 43px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));
    }
  }
  
  .row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    @include break(xs) {
      display: flex;
      padding: 10px 0;
      justify-content: center;
      @include make-col(12);

      svg {
        align-self: center;
      }
    }
    @include upTo(xs) {
      @include make-col(3);
    }
    svg {
      max-width: 90px;
    }
  }

  .header__nav {
    @include upTo(xs) {
      @include make-col(9);
      justify-content: flex-end;
    }
  }
}