.modal {
  &-header {
    display: flex;
    position: relative;
    border-bottom: 1px solid transparent;
    margin-bottom: 1.5rem;

    @include break(xs) {
      flex-direction: column;
    }

    // cerrar y volver atras en mobile
    .close {
      position: relative;
      order: -1;

      @include upTo(xs) {
        position: absolute;
        font-size: 3rem;
        right: -.9rem;
        top: -2.5rem;
        order: 0;
      }

      @include break(xs) {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0;
        padding-bottom: 24px;
        margin: 5px 0 0 0;

        &:before,
        &:after {
          position: relative;
        }

        &:before {
          content: '';
          width: 15px;
          height: 15px;
          margin-right: 10px;
          @include bgUri("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='arrow-left' class='svg-inline--fa fa-arrow-left fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z'%3E%3C/path%3E%3C/svg%3E", contain, 50% 50%);
        }

        &:after {
          content: 'Volver atrás';
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #6d7278;
        }
        
        span {display: none;}
      }

    }
  }

  // TITLE
  &-title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: #353b50;

    @include break(xs) {
      font-size: 22px;
      margin-top: 17px;
      width: 100%;

      &:before {
        content:'';
        position: absolute;
        left: 50%;
        top: -17px;
        width: 100vw;
        background-color: #e0e3e6;
        height: 1px;
        transform: translateX(-50%);
      }
    }
  }
}