.modal-body {
  ul.list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 55px;
    overflow-y: scroll;
    max-height: 415px;
    
    @include upTo(xs) {
      columns: 100px 2;
    }
    @include break(xs) {
      margin-top: 28px;
      max-height: 50vh;
    }

    li {
      cursor: pointer;
      font-size: 20px;
      width: 50%;
      font-weight: 500;
      line-height: 1.5;
      color: #353b50;
      margin-bottom: .5rem;

      @include break(xs) {
        width: 100%;
        font-size: 18px;
      }
    }
  }

  ul.logoBrands {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;

    @include break(xs) {
      width: calc(100% + #{$MODAL_PADDING_MOBILE});
    }

    li {
      cursor: pointer;
      min-width: 50px;
      margin-right: 4rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  span.withOutModel {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $COLOR_BUTTON_LINK;

    @include break(xs) {
      font-size: 18px;
      order: -1;
      margin-top: 28px;
      margin-bottom: 5px;
    }
  }
}