.form-row {
  margin-right: -$INPUT_MARGINS / 2;
  margin-left: -$INPUT_MARGINS / 2;
  margin-bottom: 15px;

  @include break(xs) {
    flex-direction: column;
    margin-bottom: 0;
  }
  
  .col {
    padding: 0 $INPUT_MARGINS / 2;
    display: flex;
    flex-direction: column;
    
    @include break(xs) {
      margin-bottom: 20px;
    }
  }
}

.col {
  @include break(xs) {
    flex-basis: unset;
  }
}

form {
  position: relative;
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: $COLOR_INPUT;
    margin-bottom: 15px;
    order: -1;
    display: flex;

    @include break(xs) {
      font-size: 15px;
    }

    // for checkbox
    &.form-check-label {
      order: 0;
      display: inline-table;
      align-items: flex-start;
      padding-left: 45px;

      @include break(xs) {
        align-items: center;
        margin: 10px 0;
      }

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 100%;
        min-width: $CHECKBOX_SIZE;
        min-height: $CHECKBOX_SIZE;
        margin-right: $INPUT_MARGINS;
        border: solid 1px rgba(53, 59, 80, 0.1);
        background-color: rgba(241, 241, 241, 0.24);
        display: inline-flex;
        line-height: 15px;
        content: '';
        @include break(xs) {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input,
  textarea.form-control,
  input.form-control,
  select.form-control {
    height: $INPUT_HEIGHT_DESKTOP;
    border-radius: 3px;
    border: solid 1px $COLOR_BORDER;
    background-color: rgba(241, 241, 241, 0.24);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: normal;
    padding: 5px 26px;
    display: flex;
    order: 1;

    @include break(xs) {
      font-size: 14px;
      height: $INPUT_HEIGHT_MOBILE;
      padding: 5px 15px;
      
      option {
        padding: 5px 26px;
      }
    }
    
    &::placeholder {
      font-size: 14px;
      color: rgba(#353b50, 0.5);

      // @include break(xs) {
      //   font-size: 14px;
      // }
    }

    option {
      padding: 5px 26px;
    }

    &.falseSelect {
      position: relative;
      @include bgUri("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 448 512' style='enable-background:new 0 0 448 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23353B50;%7D%0A%3C/style%3E%3Cpath class='st0' d='M207,381.5L12.7,187.1c-9.4-9.4-9.4-24.6,0-33.9l22.7-22.7c9.4-9.4,24.5-9.4,33.9,0l154.7,154l154.7-154 c9.4-9.3,24.5-9.3,33.9,0l22.7,22.7c9.4,9.4,9.4,24.6,0,33.9L241,381.5C231.6,390.8,216.4,390.8,207,381.5L207,381.5z'/%3E%3C/svg%3E", $SELECT_ARROW $SELECT_ARROW, 96% 50%);
    }

  }
  
  textarea.form-control {
    padding: 16px 26px;
    min-height: 239px;

    & + label {
      span {
        position: absolute;
        bottom: 12px;
        right: 28px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: #353b50;
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  // checkbox
  .form-check {
    display: flex;
    padding-left: 0;

    @include upTo(xs) {
      padding-top: 2em;
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked+label::before {
      width: $CHECKBOX_SIZE;
      height: $CHECKBOX_SIZE;
      background-color: $COLOR_BUTTON_LINK;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M173.9,439.4L7.5,273c-10-10-10-26.2,0-36.2l36.2-36.2c10-10,26.2-10,36.2,0L192,312.7L432.1,72.6 c10-10,26.2-10,36.2,0l36.2,36.2c10,10,10,26.2,0,36.2L210.1,439.4C200.1,449.4,183.9,449.4,173.9,439.4L173.9,439.4z'/%3E%3C/svg%3E");
      background-size: 11px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}