$INPUT_MARGINS : 20px;
$CHECKBOX_SIZE: 26px;
$INPUT_HEIGHT_DESKTOP: 61px;
$INPUT_HEIGHT_MOBILE: 48px;
$SELECT_ARROW: 20px;

$COLOR_INPUT: #353b50;
$COLOR_INVALID_FORM: #e02020;
$COLOR_VALID_FORM: #28a745;
$COLOR_BORDER: rgba(53, 59, 80, 0.1);